<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online DAK | Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="Assets/CSS/style.css">
  </head>
  <body>
    <!--Navbar-->
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
    <div class="container">
      <a href="/" class="navbar-brand">Dak Portal</a>
    </div>
  </nav>

    <!--Header-->
    <header id="main-header" class="py-2 bg-black text-white">
      <div class="container">
        <div class="row">
          <div class="text-center">
            <h1>Government Of Rajasthan</h1>
            <h2>Office Of District Collector</h2>
            <h3>District Jaipur</h3>
          </div>
        </div>
      </div>
  </header>
    <br>

    <!--Login form Updated-->
    <section class="vh-100">
      <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-md-9 col-lg-6 col-xl-5">
            <img src="https://i0.wp.com/opportunitycell.com/wp-content/uploads/2022/03/Government-of-Rajasthan-1.jpg?resize=950%2C500&ssl=1"
              class="img-fluid" alt="Sample image">
          </div>
          <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <form method="post" action="/login">
              <div class="input-field form-outline mb-4">
                <label for="email" class="form-label">Email: </label>
                <input class="form-control form-control-lg" name="email" id="email" type="text" />
              </div>
              <div class="input-field form-outline mb-4">
                <label for="password" class="form-label">Password: </label>
                <input  class="form-control form-control-lg" name="password" id="password" type="password" />
              </div>
              <% if(message.length>0){ %> 
                <div class="alert alert-warning">
                  <%= message %> 
                </div>
                <% } %> 
              <input  class="btn btn-dark btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;" type="submit" value="Submit">
            </form>
          </div>
        </div>
      </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>  
  </body>
</html>
